.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding: 60px 80px;
  flex: 1;
  height: fit-content;
  background: #F9FAFB;
}

.wordCloudAndVoteBox {
  display: flex;
  width: 100%;
  gap: 24px;
}

.componentBox {
  background: #FFFFFF;
  border: 1px solid #E5E7EB;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.03);
  display: flex;
  flex-direction: column;
}

.componentBoxFlex1 {
  flex: 1;
}

.componentBoxFlex2 {
  flex: 2;
}

.componentBoxFlex3 {
  flex: 3;
}
